#layerb {background:url(chrome://layerblock/content/statusicon-debug.png) center center;height:100%;}
#layerb vbox label {width:16px;max-height:16px;min-height:16px;margin:0 !important;padding:0 !important;}
#layerb vbox {height:16px;}
