body {          
      font: 1em/1em verdana, 'Times New Roman', sans-serif, "bitstream vera sans", arial, courier;
      font-weight: normal;
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 0px;
      background-color: #FFF;
}
body a, a.active:visited, a:visited {
    color: #4568AA;
    text-decoration: underline;
}
