<html ng-app="VDH">
	<head>
	    <meta charset="UTF-8">
		<link href="lib/bootstrap/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="commonPanel.css" type="text/css" rel="stylesheet">
		<link href="mainPanel.css" type="text/css" rel="stylesheet">
		<script type="text/ng-template" id="vdh-hit">
			<div  
				ng-click="action(defaultAction(hit),hit)"
				vdh-track-mouse="hit"
				class="hit" ng-class="hitClass(hit)">
				<div ng-show="hit.status=='orphan'" class="hit-progress hit-progress-orphan" vdh-orphan-timer="hit"></div>
				<div ng-show="hit.status=='running'" class="hit-progress" style="width: {{hit.progress}}%;"></div>
				<div class="vdh-container">
					<div>
						<div ng-show="hit.thumbnail" class="hit-thumbnail">
							<img vdh-src="hit.thumbnail"/>
						</div>
						<div class="vdh-fullwidth hit-descr">
							<div class="hit-title">							
								<div class="hit-default-action">
									<img vdh-src="actions[defaultAction(hit)].icon"/>
								</div>
							{{hit.title}}</div>
							<div class="hit-summary">
								<img ng-show="hit._signature && hit._signature.length>0" src="images/icon-lock-64.png"/>
								<span ng-show="hit.operation" class="hit-operation">{{_(hit.operation)}}</span>
								{{description(hit)}}
							</div>
						</div>
						<div class="hit-actions">
							<div ng-show="hit.actions.length>1"
								vdh-panel-button="{image:'images/icon-more-64.png'}"
								class="hit-plus-but"
								ng-click="moreActions(hit); $event.stopPropagation();">
							</div>
						</div>
					</div>
				</div>
			</div>
		</script>
    </head>
	<body ng-controller="VDHMainCtrl" ng-cloak ng-show="checkSize()" ng-class="{'compact':prefs['display']=='compact'}">
		<div id="content">
			<div class="vdh-panel-title">
				<div vdh-panel-button="{image:'images/icon-up-64.png'}" 
					ng-click="prefs['commands-section']=false" ng-show="prefs['commands-section']"></div>
				<div vdh-panel-button="{image:'images/icon-down-64.png'}" 
					ng-click="prefs['commands-section']=true" ng-show="!prefs['commands-section']"></div>
				<div ng-show="prefs['shortcut-icons']" class="vdh-buttons">
					<div vdh-panel-button="{image:'images/icon-about-64.png'}"
						ng-click="about()"></div>
					<div vdh-panel-button="{image:'images/icon-settings-64.png'}" 
						ng-click="settings()"></div>
					<div vdh-panel-button="{image:'images/icon-action-convert-b-64.png'}" 
						ng-click="convert()"></div>
					<div vdh-panel-button="{image:'images/icon-sites-list-64.png'}" 
						ng-click="sites()"></div>
					<div vdh-panel-button="{image:'images/icon-photo-64.png'}" 
						ng-click="gallery()"></div>
					<div vdh-panel-button="{image:'images/icon-action-delete-64.png'}" 
						ng-click="clear('all')" ng-show="canClear()"></div>
					<div ng-show="prefs['tpsr.enabled'] && prefs['tpsr.state']=='stopped'"
						vdh-panel-button="{image:'images/icon-par-64.png'}" 
						ng-click="tpsr('start')"></div>
					<div ng-show="prefs['tpsr.state']=='started'"
						vdh-panel-button="{image:'images/icon-par-stop-64.png'}" 
						ng-click="tpsr('stop')"></div>
					<div ng-show="prefs['scrap.enabled'] && prefs['scrap.state']=='stopped'"
						vdh-panel-button="{image:'images/icon-action-record-64.png'}" 
						ng-click="scrap('start')"></div>
					<div ng-show="prefs['scrap.state']=='started'"
						vdh-panel-button="{image:'images/icon-action-stoprecord-64.png'}" 
						ng-click="scrap('stop')"></div>
				</div>
				<div vdh-l10n="video-downloadhelper" style="padding-left: 70px;"></div>
			</div>
			
			<div class="vdh-commands" ng-class="{'vdh-closed':!prefs['commands-section']}">
					<div><a vdh-l10n="about" ng-click="about()"></a></div>
					<div><a vdh-l10n="settings" ng-click="settings()"></a></div>
					<div><a vdh-l10n="convert-local-files" ng-click="convert()"></a></div>
					<div><a vdh-l10n="supported-sites" ng-click="sites()"></a></div>
					<div><a vdh-l10n="analyze-page" ng-click="gallery()"></a></div>
					<div ng-show="canClear()"><a vdh-l10n="clear-hits" ng-click="clear('all')"></a></div>
					<div ng-show="prefs['tpsr.enabled'] && prefs['tpsr.state']=='stopped'"><a vdh-l10n="tpsr.start-par" ng-click="tpsr('start')"></a></div>
					<div ng-show="prefs['tpsr.state']=='started'"><a vdh-l10n="tpsr.stop-par" ng-click="tpsr('stop')"></a></div>
					<div ng-show="prefs['scrap.enabled'] && prefs['scrap.state']=='stopped'""><a vdh-l10n="scrap.start" ng-click="scrap('start')"></a></div>
					<div ng-show="prefs['scrap.state']=='started'"><a vdh-l10n="scrap.stop" ng-click="scrap('stop')"></a></div>
			</div>
			
			<div ng-show="counters.all==0" vdh-l10n="no-media-to-process" class="nothing-to-do"></div>
			
			<div ng-show="counters.all>0 && counter.active && counters.all!=counters.active" 
				vdh-l10n="in-current-tab" class="hits-subtitle"></div>
			<div vdh-hit ng-repeat="(id, hit) in hits | keepObjectBy:'status':'active' | orderHits"></div>
			
			<div ng-show="counters.inactive>0" class="hits-subtitle">
				<div vdh-opener ng-model="prefs['show-hits-inactive']"></div> 
				<div vdh-panel-button="{image:'images/icon-action-delete-64.png'}" ng-click="clear('inactive')"></div>
					{{_('in-other-tab')}} {{!prefs['show-hits-inactive']?'('+counters.inactive+')':''}}</div>
			<div vdh-hit ng-repeat="(id, hit) in hits | keepObjectBy:'status':'inactive'" ng-show="prefs['show-hits-inactive']"></div>
			
			<div ng-show="counters.orphan>0" class="hits-subtitle">
				<div vdh-opener ng-model="prefs['show-hits-orphan']"></div> 
				<div vdh-panel-button="{image:'images/icon-action-delete-64.png'}" ng-click="clear('orphans')"></div>
					{{_('orphan')}} {{!prefs['show-hits-orphan']?'('+counters.orphan+')':''}}</div>
			<div vdh-hit ng-repeat="(id, hit) in hits | keepObjectBy:'status':'orphan'" ng-show="prefs['show-hits-orphan']"></div>
			
			<div ng-show="counters.pinned>0" class="hits-subtitle">
				<div vdh-opener ng-model="prefs['show-hits-pinned']"></div> 
				<div vdh-panel-button="{image:'images/icon-action-delete-64.png'}" ng-click="clear('pinned')"></div>
					{{_('pinned')}} {{!prefs['show-hits-pinned']?'('+counters.pinned+')':''}}</div>
			<div vdh-hit ng-repeat="(id, hit) in hits | keepObjectBy:'status':'pinned'" ng-show="prefs['show-hits-pinned']"></div>
			
			<div ng-show="counters.running>0" class="hits-subtitle">
				<div vdh-opener ng-model="prefs['show-hits-running']"></div> {{_('running')}} {{!prefs['show-hits-running']?'('+counters.running+')':''}}</div>
			<div vdh-hit ng-repeat="(id, hit) in hits | keepObjectBy:'status':'running'" ng-show="prefs['show-hits-running']"></div>

			<div ng-show="logs.length>0" class="hits-subtitle" ng-class="{'vdh-error':errorLogs.length>0}">
				<div vdh-opener ng-model="prefs['show-logs']"></div> 
				<div vdh-panel-button="{image:'images/icon-action-delete-64.png'}" ng-click="clearLogs()"></div>
				<span ng-show="errorLogs.length>0">
					{{_('errors')}} {{!prefs['show-logs']?'('+errorLogs.length+')':''}}
				</span>
				<span ng-show="logLogs.length>0">
					{{_('logs')}} {{!prefs['show-logs']?'('+logLogs.length+')':''}}
				</span>
			</div>
			<div ng-repeat="log in logs" ng-show="prefs['show-logs']" class="vdh-log" 
				ng-class="{'vdh-log-error':log.type=='error'}">
				{{log.text}}
				<a ng-show="log.details" vdh-l10n="details-parenthesis" ng-click="logDetails(log)"></a>
			</div>
		</div>
	</body>
</html>
