@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* libf-button */

toolbarbutton#libf-button {
	list-style-image: url("chrome://libf/skin/libf.png");
	-moz-image-region: rect(0px 24px 24px 0px);
}

toolbarbutton#libf-button:hover {
	-moz-image-region: rect(24px 24px 48px 0px);
}

toolbarbutton#libf-button[disabled="true"] {
	-moz-image-region: rect(48px 24px 72px 0px);
}
